<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qinshou.qinshoubox">

    <!-- 允许程序读取通讯录的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许程序录音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序操作 SD 卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:name">
        <activity
            android:name=".login.view.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- Web 界面 -->
        <activity
            android:name=".WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 拼图游戏界面 -->
        <activity
            android:name=".me.ui.activity.PuzzleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 聊天机器人界面 -->
        <activity
            android:name=".me.ui.activity.TurningRobotActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- MediaRecorder 录音界面 -->
        <activity
            android:name=".me.ui.activity.RecordActivity1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- AudioRecorder 录音界面 -->
        <activity
            android:name=".me.ui.activity.RecordActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 联系人列表界面 -->
        <activity
            android:name=".me.ui.activity.ContactListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 天气界面 -->
        <activity
            android:name=".me.ui.activity.WeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 魔塔游戏界面 -->
        <!-- 命运之轮界面 -->
        <activity
            android:name=".me.ui.activity.WheelOfFortuneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 图表界面 -->
        <activity
            android:name=".me.ui.activity.ChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 佩奇界面 -->
        <activity
            android:name=".me.ui.activity.PeiQiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--IM 界面 -->
        <activity
            android:name=".im.view.fragment.IMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 聊天界面 -->
        <activity
            android:name=".conversation.view.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 群聊界面 -->
        <activity
            android:name=".conversation.view.activity.GroupChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 修改备注界面 -->
        <activity
            android:name=".friend.view.activity.SetRemarkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>